:root {
  --main-color: #0A146E;
}

@font-face {
  font-family: "Mont";
  src: url(../fonts/MontHeavyDEMO.otf);
}

@font-face {
  font-family: "Proza";
  src: url(../fonts/Proza-regular.otf);
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
  font-family: "Rockford Sans";
  src: url(../fonts/RockfordSans-Light.otf);
}

body {
  overflow-x: hidden;
  background-color: #E3E3E3;
}

main > .row:first-child {
  background: url(../images/bg-main.png) 0 0 / 100% 130% no-repeat;
}

main > .row:not(.row:first-child, .wave-container) {
  background-color: var(--main-color);
}

main > .wave-container {
  background: url(../images/bottom_background.png) 0 0 / 100% 30vh no-repeat scroll;
}

main {
  position: relative;
  z-index: 1;
}

main .vzla-flag {
  height: 1em;
  z-index: 3;
}

main > .row > .card {
  z-index: 3;
}

.transform-up {
  transform: translateY(-10%);
}
.particles-js-canvas-el {
  top: 0px;
  left: 0px;
  z-index: 2;
  position: absolute;
  height: calc(100% - 3em) !important;
}

.wave-container {
  display: block;
  transform-origin: top;
  animation: animateWave 1000ms cubic-bezier(0.23, 1, 0.32, 1) forwards;
  animation-duration: 2s;
}

footer.row {
  position: sticky;
  bottom: 0;
}

footer a {
  text-decoration: none;
}

footer a svg {
  color: #000;
  transition: all .3s;
}
footer a svg:hover {
  color: inherit;
  transform: translateY(-15%);
}

.title {
  font-family: Mont;
  margin-bottom: 0;
}

.white {
  color: #fff;
}

.subtitle {
font-family: Montserrat;
}

.label-text {
  font-family: "Rockford Sans";
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

input:disabled {
    background-color: #fff !important;
}

.input-group {

}

.hexagon {
  background-color: dodgerblue !important;
  border-radius: .25rem;
  box-sizing: border-box;
  position: relative;
  transition: all 1s;
  border: 0.4vh solid transparent !important;
}

.hexagon:before, .hexagon:after {
  content: "";
  border: inherit;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: dodgerblue;
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

/* Align them in such a way
that they form a hexagon */
.hexagon:before {
  transform: rotate(60deg);
}
.hexagon:after {
  transform: rotate(-60deg);
}

.router-link-active {
  position: relative;
  overflow: hidden;
  color: #fff;
  border-radius: 1rem;
}
.router-link-active:focus {
  color: #fff;
}

.nav-item:hover .router-link-active {
  transform: scale(1.1);
  color: #fff;
}

.router-link-active:before {
  z-index: -1;
  content: '';
  position: absolute;
  border-radius: inherit;
  border-color: inherit;
  top: 0;
  left: 0;
  background-color: dodgerblue;
  height: 100%;
  width: 100%;
  animation: fromBottom .3s forwards;
}

.input-group .dropend .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.min-vh-50 {
  min-height: 75vh;
}

/* Animations */
.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 2s ease;
}

.fade-leave {
}

.fade-leave-active {
  transition: opacity 2s ease;
  opacity: 0;
}

.fadeInLeft {
-webkit-animation-name: fadeInLeft;
animation-name: fadeInLeft;
-webkit-animation-duration: .3s;
animation-duration: .3s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
0% {
opacity: 0;
-webkit-transform: translate3d(-10%, 0, 0);
transform: translate3d(-10%, 0, 0);
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none;
}
}
@keyframes fadeInLeft {
0% {
opacity: 0;
-webkit-transform: translate3d(-10%, 0, 0);
transform: translate3d(-10%, 0, 0);
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none;
}
}

.fromBottom {
-webkit-animation-name: fromBottom;
animation-name: fromBottom;
-webkit-animation-duration: .3s;
animation-duration: .3s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
@-webkit-keyframes fromBottom {
0% {
opacity: 0;
-webkit-transform: translate3d(0, 100%, 0);
transform: translate3d(0, 100%, 0);
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none;
}
}
@keyframes fromBottom {
0% {
opacity: 0;
-webkit-transform: scale(0.1) translate3d( 0, 100%, 0);
transform: scale(0.1) translate3d( 0, 100%, 0);
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none;
}
}

.fadeInRight {
-webkit-animation-name: fadeInRight;
animation-name: fadeInRight;
-webkit-animation-duration: 1.5s;
animation-duration: 1.5s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
@-webkit-keyframes fadeInRight {
0% {
opacity: 0;
-webkit-transform: translate3d(10%, 0, 0);
transform: translate3d(10%, 0, 0);
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none;
}
}
@keyframes fadeInRight {
0% {
opacity: 0;
-webkit-transform: translate3d(10%, 0, 0);
transform: translate3d(10%, 0, 0);
}
100% {
opacity: 1;
-webkit-transform: none;
transform: none;
}
}

@keyframes animateWave {
  0% {
    transform: scale3d(1,0,1);
  }
  100% {
    transform: scale3d(1,1,1);
  }
}
